.Row {
  display: flex;
  flex-direction: row;
}

.Discover {
  border-radius: 3rem;
  border: 1px solid white;
  font-size: 1.2rem;
  letter-spacing: 1.6px;
  padding: 10px 16px;
}

.PokemonBar {
  background-color: black;
  color: whitesmoke;
  padding: 4px;
}

.PokemonBar h1 {
  font-weight: 400;
}

.Selected {
  background-color: red;
}