body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, rgba(1, 19, 37, 1) 0%, rgba(0, 35, 77, 1) 100%);
  color: rgb(255, 255, 255);
  font-family: 'Montserrat';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

button {
  color: rgb(255, 255, 255);
  background-color: #001b3c;
  border: 2px solid #ffffff0d;
  border: none;
  display: flex;
  align-items: center;
}

h2 {
  margin: 0px;
}

h4 {
  margin: 0px;
}

h5 {
  margin: 0px;
}

label {
  display: flex;
  flex-wrap: wrap;
}